@use "./../assets/styles/var.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    user-select: none;
    background: linear-gradient(
        to right,
        #6188ff,
        #6188ff 71%,
        #71a4f3 72%,
        #6188ff 97%,
        #8ec0f0 100%
    );
    a{
        color: var.$texto-blanco;
        text-decoration: none;
        background-color: #4379cf;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        border-radius: 50px;
        font-size: x-large;
    };
}

#tituloContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #88daf2;
    color: var.$texto-blanco;
    width: 300px;
    border-radius: 50px;
    height: 50px;
    border: solid 3px #30408d;
    
    img{
        height: 40px;
    }

    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.5rem;
        -webkit-text-stroke: 2px #30607a;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    height: 40px;
    background-color: #629ddf;
    color: var.$texto-blanco;
    padding-right: 20px;
    a{
        color: var.$texto-blanco;
        text-decoration: none;
    }
    p{
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 10px;
    }
    kbd{
        background-color: #8a8582;
        border-radius: 50%;
        height: 26px;
        line-height: 26px;
        aspect-ratio: 1;
        text-align: center;
        font-size: xx-large;
        margin-left: 10px;
        margin-right: 5px;
        user-select: none;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    }
}
